X_KUBERNETES_TOKEN="eyJhbGciOiJSUzI1NiIsImtpZCI6ImNVOTVLVjlGMVdJUjBIaTloTS15Qkl0SkxkRnhIS1ZpOF8xTmpYWXcwRjQifQ.eyJpc3MiOiJrdWJlcm5ldGVzL3NlcnZpY2VhY2NvdW50Iiwia3ViZXJuZXRlcy5pby9zZXJ2aWNlYWNjb3VudC9uYW1lc3BhY2UiOiJ3ZXJja2VyIiwia3ViZXJuZXRlcy5pby9zZXJ2aWNlYWNjb3VudC9zZWNyZXQubmFtZSI6Im9rZS1hZG1pbi10b2tlbi02a3RqcCIsImt1YmVybmV0ZXMuaW8vc2VydmljZWFjY291bnQvc2VydmljZS1hY2NvdW50Lm5hbWUiOiJva2UtYWRtaW4iLCJrdWJlcm5ldGVzLmlvL3NlcnZpY2VhY2NvdW50L3NlcnZpY2UtYWNjb3VudC51aWQiOiJhNmQ3ZGJkNS1kZjdiLTQzZjMtYjM5My1mOTQzMzliMGEyOTciLCJzdWIiOiJzeXN0ZW06c2VydmljZWFjY291bnQ6d2VyY2tlcjpva2UtYWRtaW4ifQ.cKKj7AuMLiXW7EmZB257lHkUeRCLEfliYjRXxdH4QvEPuSVnPg0aa9ni-nu6z6OKOwuvIEENs3lGkVsSd3klrUgaAh5ygLLxA0z-S8lH7rkG2hBqjYGVA_v7klomiSXSsemwoRFjNywFFIyJUA1z3luhLxiNrb7Za2PRm_EqzdBkRyctP9U18XAJR8MULjArRM__k6AG6eyYR54FJ0j94lICVXlxikLQIX9LzHnLD77eaeTHwA4hQjRI0HxI1-4dwWg26gSNM7ZS_o6xyRWAQUAiHyaoeYyq0ypnXzCMbO8-VI037dTU7yp2inmxhuOU99yTim02-VRIsauaMTlSNg"
X_KUBERNETES_MASTER="https://192.168.99.196:8443"
X_USERNAME=dnarasim248
X_PASSWORD=XXXX
X_IMAGE_BASE=testwercker-nginx
X_CNT_NAME="testwercker-cnt"

